<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Students | SFAC Library</title>
        <link rel="icon" href="../static/SFAC_logo.png">
        <link rel="stylesheet" href="../static/styles/sfac_styles.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
    </head>
<header>
    <h2>BEYOND THE<br>BASICS LIBRARY</h2>
    <img src="../static/SFAC_logo.png" class="logo_img">
</header>
<body>
    <div class="container-body">
        <div class="sidebar">
            <a href="#"><p class="username"><img src="../static/sample_profile.jpg" class="profile_img"> Librarian</p></a>
            <p class="sidebar_header">HEADER</p>
            <a href="./Dashboard"><p ><img src="../static/dashboard.png" class="sidebar_img">Dashboard</p></a>
            <a href="./Students"><p class="highlighted"><img src="../static/members_img.png"class="sidebar_img">Students</p></a>
            <a href="./Books"><p ><img src="../static/books.png" class="sidebar_img">Books</p></a>
            <a href="./Transaction"><p><img src="../static/transactions.png" class="sidebar_img">Transactions</p></a>
        </div>
        <div class="main-container">
            <div style="display: flex;">
                <p class="dashboard_title">Students</p>
                
                <div class="registration_con" onclick="openModal()">
                    <p class="registration_text">Register</p><img src="../static/plus.png" class="plus_button">
                </div>
                <input type="text" id="search" placeholder="Search" class="searchbar">
            </div>
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>ID Number</th>
                            <th>Name</th>
                            <th>Email Address</th>
                            <th>RFID</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in table_data %}
                        <tr>
                            <td>{{ row.id_number }}</td>
                            <td>{{ row.name }}</td>
                            <td>{{ row.email }}</td>
                            <td>{{ row.rfid }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>    
    </div>
    <div id="overlay"></div>
        <div id="modal">
            <h3 style="font-size: 24px; text-align: center;"><i class="fa fa-user"></i>&nbsp;PERSONAL INFO</h3>
            <form id="add-form" onsubmit="addEntry(event)">
                <label for="id-number">ID Number</label>
                <input type="text" id="id-number" placeholder="ID Number" required>

                <label for="last_name">Last Name</label>
                <input type="text" id="last_name" placeholder="Last Name" required>
            
                <label for="first_name">First Name</label>
                <input type="text" id="first_name" placeholder="First Name" required>
            
            
                <label for="middle_name">Middle Name</label>
                <input type="text" id="middle_name" placeholder="Middle Name" required>
            
                <label for="email">Email Address</label>
                <input type="email" id="email" placeholder="Email Address" required>
            
                <label for="rfid">RFID</label>
                <input type="text" id="rfid" placeholder="RFID" required>
            
                <button type="submit" class="register-btn">Register</button>
                <button type="button" onclick="closeModal()" class="cancel-btn">Cancel</button>
            </form>
            
    </div>
   

</body>
<script>
    const modal = document.getElementById('modal');
    const overlay = document.getElementById('overlay');

    function openModal() {
        modal.style.display = 'block';
        overlay.style.display = 'block';
    }

    function closeModal() {
        modal.style.display = 'none';
        overlay.style.display = 'none';
    }

    function addEntry(event) {
        event.preventDefault();

        const idNumber = document.getElementById('id-number').value;
        const fname = document.getElementById('first_name').value;
        const lname = document.getElementById('last_name').value;
        const mname = document.getElementById('middle_name').value;

        const email = document.getElementById('email').value;
        const rfid = document.getElementById('rfid').value;

        const tableBody = document.getElementById('table-body');
        const row = document.createElement('tr');

        row.innerHTML = `
            <td>${idNumber}</td>
            <td>${lname}, ${fname} ${mname}</td>
            <td>${email}</td>
            <td>${rfid}</td>
        `;

        tableBody.appendChild(row);
        closeModal();
        document.getElementById('add-form').reset();
        
    }
    document.getElementById('search').addEventListener('keyup', function() {
        let searchTerm = this.value.toLowerCase();
        let rows = document.querySelectorAll('table tbody tr');
        
        rows.forEach(function(row) {
            let cells = row.getElementsByTagName('td');
            let rowText = '';
            
            for (let i = 0; i < cells.length; i++) {
                rowText += cells[i].textContent.toLowerCase() + ' ';
            }
            
            if (rowText.includes(searchTerm)) {
                row.style.display = '';
            } else {
                row.style.display = 'none';
            }
        });
    });

</script>
</html>